<a href="https://colab.research.google.com/github/arunrajvakathanam/ML_Projects/blob/main/Sepal_Length_Prediction%5BAssignment%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. Loading Dataset(iris)

In [1]:
import pandas as pd
import numpy as np

from sklearn import datasets

In [4]:
iris_data = datasets.load_iris()
df_iris = pd.DataFrame(data=iris_data.data, columns=iris_data.feature_names)
df_iris['target'] = pd.Series(iris_data.target)
df_iris.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

### Q: Predict Sepal length in Iris dataset

In [5]:
#loading dataset
from sklearn.datasets import load_iris
data = load_iris()
x = data['data']
#separation of data into x and y
y = x[:,0]
x = x[:,1:4]

##### Prediction using SKLEARN

In [6]:
#implementation using sklearn
#splitting dataset into train set and test set
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.25,random_state=0)
#creating model
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(x_train, y_train)
y_pred = regressor.predict(x_test)

In [7]:
from sklearn.metrics import r2_score
r2score = r2_score(y_test,y_pred)
print("R2Score",r2score*100)

R2Score 72.60811953040603

#### Prediction using equation 
$Y = βX$, where

$β = (X^TX)^{-1}X^{T}Y$

In [8]:
import numpy as np
x = x_test
x_T = x.transpose()
x_T_x = x_T.dot(x)
x_T_x_inv = np.linalg.inv(x_T_x)
beta = x_T_x_inv.dot(x_T).dot(y_test)
print(beta)
beta_x = beta.dot(x_T)
print(beta_x)

[ 1.11833096  0.87349176 -0.81477536]
[5.63067381 5.1395198  5.75692343 7.27956223 4.94960784 6.89450434
 4.80526505 6.35007422 6.18340164 5.56608577 6.65852885 6.28720896
 6.25900753 5.92722575 6.20788556 5.16740239 5.95170967 5.77329381
 4.33344874 5.1711199  5.7818856  6.06354277 5.29900454 4.30309318
 5.85749149 4.73652815 5.58338186 5.93996639 4.63990866 4.87400194
 6.80443502 6.06354277 5.06144094 6.16850686 6.23037476 5.28542596
 5.49016104 6.170661  ]

In [9]:
from sklearn.metrics import r2_score
r2score1 = r2_score(y_test,beta_x)
print("R2Score",r2score1*100)

R2Score 70.99401512456087